@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #000;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap__img {
  width: 15%;
  aspect-ratio: 4 / 1;
}
.header-wrap__img a img {
  display: block;
  width: 100%;
  height: 100%;
}
.header-wrap__nav {
  width: 45%;
}
.header-wrap__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-wrap__nav__list__item.__contact {
  background-color: #ff0000;
  padding: 2.5% 5%;
}
.header-wrap__nav__list__item {
  background-color: #fff;
}
.header-wrap__nav__list__item a {
  color: #000;
  text-decoration: none;
}

.header-wrap__nav__list__item.__contact a {
  color: #fff;
}
.top-wrap {
  aspect-ratio: 2 / 1;
}
.top-wrap.__bg {
  background-image: url("../img/webデザイン.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}

.top-wrap.__bg::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  background: linear-gradient(90deg,
 rgba(255, 255, 255, 0) 0%,
 rgba(255, 255, 255, 0.75) 60%);
}
.f-ttl {
  font-size: 2.0rem;
  color: #ff0000;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 30%;
}
.f-ttl1 {
  font-size: 3.5rem;
  color: #3403f9;
  position: absolute;
  z-index: 1;
  top: 25%;
  left: 30%;
}
.f-ttl2 {
  font-size: 2.75rem;
  color: #fff;
  background-color: #f06c6c5d;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 30%;
}
/* .catch-wrap.__bg {
  width: 100%;
  height: 375px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
} */
.catch {
  background-image: url("../img/c-logo.png");
 }
.catch-wrap__ttl {
  text-align: center;
}
.catch-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.0rem;
  font-weight: 700;
  color: #000;
}
.catch-wrap__ttl1 {
  text-align: center;
}
.catch-wrap__ttl1 h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1b0bf5;
}
/* .c-ttl {
  font-size: 1.75rem;
  color: #000;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 30%;
}
.c-ttl1 {
  font-size: 2.5rem;
  color: #000;
  position: absolute;
  z-index: 1;
  top: 65%;
  left: 22.5%;
} 
.catch-wrap {
  display: flex;
}

.__inner {
  width: 80%;
  margin: 0 auto;
  padding: 5% 0;
}
.catch-wrap__ttl {
  width: 25%;
} */
.pro {
  background-image: url("../img/c-logo.png");
}

.pro-wrap__ttl {
  text-align: center;
}

.pro-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.pro-wrap__con {
  display: flex;
  justify-content: space-between;
  margin-top: 6.25%;
}

.pro-wrap__con__block {
  position: relative;
  width: 25%;
  background-color: #fff;
  text-align: center;
  padding: 2.5%;
}

.pro-wrap__con__block::after {
  position: absolute;
  content: "";
  border-top: 35px solid #fff;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  transform: translateY(-50%) translateX(-50%);
  bottom: -50px;
}

.pro-wrap__con__block .__check {
  border: solid #3e93d3 3px;
  background-color: #fff;
  color: #d10d0c;
  font-size: 2.75rem;
  padding: 1.25%;
  position: absolute;
  top: 0%;
  transform: translateY(-50%) translateX(-50%);
}

.pro-wrap__con__block .__icon {
  display: block;
  color: #d37f3e;
  font-size: 8.5rem;
  margin-top: 7.5%;
}

.pro-wrap__con__block p {
  margin-top: 7.5%;
}

.pro-wrap__mes {
  text-align: center;
  margin-top: 5%;
}

.pro-wrap__mes p {
  display: inline-block;
  color: #d37f3e;
  font-size: 2.25rem;
  font-weight: 700;
  background-color: #fff;
  padding: 1.25%;
}

.pro-wrap__txt {
  text-align: center;
}

.pro-wrap__txt p {
  font-size: 1.15rem;
  color: #d37f3e;;
  margin-top: 1%;
}
.com {
  background-image: url("../img/c-logo.png");
}
.com-wrap__ttl {
  text-align: center;
}
.com-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}

.com-wrap__ttl p {
  margin-top: 1%;
  margin-bottom: 2%;
}
.s-ttl {
  display: inline-block;
  position: relative;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: solid #3e93d3 3.5px;
}

.s-ttl:after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: solid 3.5px #ffc41a;
  width: 50%;
}
.com-wrap__ttl {
  text-align: center;
}
.com-wrap__con {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.com-wrap__con img {
  width: 20%;
  padding: 2% 2% 0 2%;
}

.service-wrap.__bg {
  width: 100%;
  height: 500px;
  background-image: url("../img/c-logo.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
  z-index: 0;
}
.s-ttl {
  font-size: 1.75rem;
  color: #000;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 40%;
}
.s-ttl__1 {
  display: inline-block;
  font-size: 2.5rem;
  line-height: 1.5;
}

.s-ttl__1::after {
  content: "";
  display: block;
  width: 80px;
  margin: 0 auto;
  height: 3px;
  background-color: #76a8fe;
}
.s-ttl__1 span {
  display: block;
  font-size: 1rem;
}
.news-wrap__con {
  width: 75%;
}
.news-wrap__con__list__item {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  border-bottom: dotted 1.5px #ccc;
  padding-top: 1.25%;
  padding-bottom: 1.25%;
}
.news-wrap__con__list__item__date {
  margin-right: 3.75%;
}

.news-wrap__con__list__item__cate {
  background-color: #76a8fe;
  color: #fff;
  font-size: 1rem;
  margin-right: 3.75%;
  padding: 0.25% 1.25%;
}

.news-wrap__con__list__item__head {
  margin-right: 3.75%;
}
.about {
  background-color: #eee;
}
.about-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-wrap__img {
  aspect-ratio: 3 / 2;
  width: 40%;
}
.about-wrap__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.about-wrap__con {
  width: 45%;
  margin-right: 10%;
}
.s-ttl__2 {
  font-size: 2.5rem;
  line-height: 1.5;
  position: relative;
  margin-bottom: 2.5%;
}
.s-ttl__2::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #76a8fe;
  position: absolute;
  bottom: 3.25rem;
  left: 15rem;
}
.s-ttl__2 span {
  display: block;
  font-size: 1rem;
}
.about-wrap__con__head {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2.5%;
}
.about-wrap__con__txt {
  line-height: 1.25;
}
.s-ttl__3 {
  font-size: 2.5rem;
  line-height: 1.5;
  position: relative;
  color: #fff;
  text-align: center;
  z-index: 1;
}

.s-ttl__3::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 3px;
  background-color: #fff;
}
.s-ttl__3 span {
  display: block;
  font-size: 1rem;
}
.service-wrap__con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.25%;
}
.service-wrap__con__block {
  aspect-ratio: 3 / 2;
  width: 32.5%;
  z-index: 1;
}

.service-wrap__con__block:nth-of-type(1) {
  margin-right: 5%;
}
.service-wrap__con__block__top {
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 100%;
}

.service-wrap__con__block__top.__block__img1 {
  background-image: url("../img/service-img__1.png");
}

.service-wrap__con__block__top.__block__img2 {
  background-image: url("../img/service-img__2.png");
}
.service-wrap__con__block__top span {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #76a8fe;
  color: #fff;
  padding: 1% 2.5%;
  font-weight: bold;
}
.service-wrap__con__block__txt {
  background-color: #000;
  color: #fff;
  padding: 2.5%;
  line-height: 1.5;
  font-size: 0.85rem;
}
.works {
  background-image: url("../img/c-logo.png");
  border-color: #000;
}
.works-wrap__ttl {
  text-align: center;
}

.works-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.works-wrap__con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.25%;
}
.works-wrap__con__block {
  aspect-ratio: 5 / 12;
  width: 31.25%;
  height: 100%;
  background-image: url("../img/しあわせの村.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}
.works-wrap__con__block__head {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 1% 2.5%;
  font-weight: bold;
}
.works-wrap__con__block1 {
  aspect-ratio: 5 / 12;
  width: 31.25%;
  height: 100%;
  background-image: url("../img/神戸市立森林植物園.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.works-wrap__con__block1__head {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 1% 2.5%;
  font-weight: bold;
}
.works-wrap__con__block2 {
  aspect-ratio: 5 / 12;
  width: 31.25%;
  height: 100%;
  background-image: url("../img/hyogo.nissan.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.works-wrap__con__block2__head {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 1% 2.5%;
  font-weight: bold;
}
.contact {
  background-image: url("../img/c-logo.png");
}
.contact-wrap__ttl {
  text-align: center;
}

.contact-wrap__ttl h2 {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 700;
  color: #000;
}
.contact-wrap__con {
  width: 62.5%;
  margin: 0 auto;
}
.contact-wrap__con__form__item {
  margin: 3.25% 0;
}
.contact-wrap__con__form__item label {
  display: block;
  color: #fff;
  padding-bottom: 0.75%;
}
.contact-wrap__con__form__item input {
  width: 100%;
  height: 3.25rem;
}
.contact-wrap__con__form__item textarea {
  width: 100%;
  height: 17.5rem;
}

.contact-wrap__con__block__btn {
  width: 30.5%;
  margin: 0 auto;
  margin-top: 1.5%;
}

.contact-wrap__con__block__btn button {
  width: 110%;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 5px 0px;
  background-color: #fd0606f3;
  border-radius: 50px;
  color: #000;
  border: unset;
  line-height: 1.5;
  box-shadow: 4px 3px 7px rgb(0 0 0 / 40%);
  transition: all 0.3s;
}

.contact-wrap__con__form__btn {
  width: 40%;
  margin: 0 auto;
  border: solid 2.5px #fd0606f3;
  border-radius: 5rem;
}
.contact-wrap__con__form__btn button {
  width: 100%;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
  border: unset;
  background-color: unset;
  line-height: 2.8;
}
.footer {
  background-color: #1f1d1d;
  border-top: solid 1.5px #fff;
}
.footer-wrap {
  padding: 2.5% 0;
}
.footer-wrap__right {
  display: block;
  text-align: center;
  color: #fff;
}